# Airbyte connectors quality assurance

{% for category, checks in checks_by_category.items() %}
## {{ category.value }}
{% for check in checks %}
### {{ check.name }}
*Applies to the following connector languages: {{ ', '.join(check.applies_to_connector_languages) }}*

{{ check.description }}
{% endfor %}
{% endfor %}
